<p id="notice"><%= notice %></p>

<div class='row'>
    <div class="well cv col-xs-12 col-offset-2">
            <table>
          <div class="col-xs-8 col-xs-offset-2">
              <div class="center">
              <thead>
                <tr>
                  <th class="col-xs-3">Code</th>
                  <th class="col-xs-3">Name</th>
                  <th class="col-xs-2">Units</th>
                  <th class="col-xs-2">Price</th>
                  <th class="col-xs-5">Discount</th>
                </tr>
              </thead>
              <tbody>
                <% @articles.each do |article| %>
                  <tr>
                    <td class="col-xs-3"><%= article.code %></td>
                    <td class="col-xs-3"><%= article.name %></td>
                    <td class="col-xs-2"><%= article.units %></td>
                    <td class="col-xs-2"><%= article.price %></td>
                    <% if article.discount_id %>
                      <td class="col-xs-5"><%= Discount.find(article.discount_id).name %></td>
                    <% else %>
                      <td class="col-xs-5"></td>
                    <% end %>
                    <td class="col-xs-3">
                      <button class="btn btn-secondary btn-sm"><%= link_to "Add to my cart", user_articles_path(user: current_user, article_id: article.id, number: 1),method: :post %></button>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            </div>
            </div>

        </div>
    </div>
</div>
